DATABASE_URL="postgresql://usuario:password@localhost:5432/exploracion_db"
JWT_SECRET="cambia_esto_por_un_secreto_seguro"
REFRESH_TOKEN_SECRET="cambia_esto_por_otro_secreto_seguro"
PORT=4000
NODE_ENV=development
FRONTEND_URL="http://localhost:5173"
SMTP_HOST="smtp.gmail.com"
SMTP_USER=""
SMTP_PASS=""
ADMIN_NAME="Nombre Apellido"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="contraseña_segura"
